


@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.container {
  width: 65% !important;
}

.background {
  background: #1F2833;
}


.tag a {
  font-size: 20px;
  color: #F76C6C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.comment{
  color: #C5C6C7;
}
.section-info {
  color: #C5C6C7;
  padding: 10px 0 15px 0;
}

.section-info p:nth-child(2) {
  padding-left: 30px;
}
.tag a::after {
  content: ">";
}

.tag a::before {
  content: "<";
}

.tag a:hover {
  text-decoration: underline !important;
  color: #66FCF1;
}

.tag:last-child a::after {
  content: ">";
}

.tag:last-child a::before {
  content: "</";
}

.sections{
  padding-top: 150px;
}
.container {
  width: 75%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


html,
  body {
      width: 100%;
      height: 100%;
      margin: 0%;
      padding: 0%;
     
  }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace !important;
}
p,
span {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none !important;
  
}

.w100 {
  width: 100%;
}
/* flex*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.border-none{
  border: none;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.column-flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.column-flex-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.space-between {
  display: flex;
  justify-content: space-between;
 
}
.space-around {
  display: flex;
  justify-content: space-around;
 
}

.my-row {
  display: flex;
  flex-direction: row;
}

.my-column {
  display: flex;
  flex-direction: column;
}
/*positions*/
.my-relative {
  position: relative;
}
/* margins*/
.mtb-10{
 margin: 10px 0;
}
